@{
    ViewData["Title"] = "Nieuwe Patiënt";
}
@model NewPatientModel

<form asp-area="Manage" asp-controller="Patient" asp-action="Add"  method="post">
    <div class="row new-patient">
        <div class="col-md-4">
            <h3>Persoonsgegevens</h3>
            <div class="form-group">
                <label asp-for="FullName">Volledige naam</label>
                <input asp-for="FullName" class="form-control" placeholder="Onno van Helfteren">
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">E-mailadres</label>
                <input asp-for="Email" type="email" class="form-control" placeholder="onno@fysioapp.com">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate">Geboortedatum</label>
                <input asp-for="BirthDate" type="date" class="form-control">
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserType">Medewerker of student?</label>
                <select asp-for="UserType" asp-items="@ViewBag.UserTypes" class="form-control"></select>
                <span asp-validation-for="UserType" class="text-danger"></span>
                <input asp-for="AdditionalIdentifier" type="number" class="form-control" placeholder="Student-/medewerkernummer">
                <span asp-validation-for="AdditionalIdentifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender">Geslacht</label>
                <select asp-for="Gender" asp-items="@ViewBag.Genders" class="form-control"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Behandel gegevens</h3>
            <div class="form-group">
                <label asp-for="GlobalDescriptionComplaints">Globale klachten omschrijving</label>
                <textarea asp-for="GlobalDescriptionComplaints" class="form-control" rows="3"></textarea>
                <span asp-validation-for="GlobalDescriptionComplaints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DcsphCode">Diagnosecode</label>
                <select asp-for="DcsphCode" class="form-control" asp-items="@ViewBag.DcsphCode" id="diagnosticscode" onchange="document.getElementById('DcsphDescription').value = this.options[this.selectedIndex].text"></select>
                <input asp-for="DcsphDescription" type="text" readonly class="form-control" placeholder="Omschrijving">
                <span asp-validation-for="DcsphDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDateTreatment">Einddatum behandeling</label>
                <input asp-for="EndDateTreatment" type="date" class="form-control">
                <span asp-validation-for="EndDateTreatment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentsInput">Opmerkingen (1 per regel)</label>
                <textarea asp-for="CommentsInput" class="form-control" rows="3"></textarea>
                <span asp-validation-for="CommentsInput" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Administratie gegevens</h3>
            <div class="form-group">
                <label asp-for="IntakeUserId">Intake gedaan door</label>
                <select asp-for="IntakeUserId" asp-items="@ViewBag.AllTherapists" class="form-control"></select>
                <span asp-validation-for="IntakeUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeSuperVisionUserId">Onder supervisie van</label>
                <select asp-for="IntakeSuperVisionUserId" asp-items="@ViewBag.Therapists" class="form-control"></select>
                <span asp-validation-for="IntakeSuperVisionUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainTherapistId">Hoofdbehandelaar</label>
                <select asp-for="MainTherapistId" asp-items="@ViewBag.Therapists" class="form-control"></select>
                <span asp-validation-for="MainTherapistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignUpDate">Aanmeld datum</label>
                <input asp-for="SignUpDate" type="date" class="form-control">
                <span asp-validation-for="SignUpDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" style="float: right;" class="btn btn-primary">Opslaan <i class="fa fa-user-plus"></i></button>
        </div>
    </div>
</form>