<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FysioWebapp</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/listTimeline.css" />
</head>
<body>
    @{ Boolean hasNav = false; }
    @if ((ViewContext.RouteData.Values["area"] ?? "").Equals("Manage"))
    {
        <nav>
            <div class="nav-title">@ViewData["Title"] </div>
            <div class="nav-buttons">
                <span class="button"><a data-title="Dashboard" asp-area="Manage" asp-controller="Dashboard" asp-action="Index"></a></span>
                <span class="button"><a data-title="Patiënten lijst" asp-area="Manage" asp-controller="Patient" asp-action="List"></a></span>
                <span class="button"><a data-title="Nieuwe patiënt" asp-area="Manage" asp-controller="Patient" asp-action="Add"></a></span>
                <span class="button"><a data-title="Agenda" asp-area="Manage" asp-controller="Agenda" asp-action="Index"></a></span>
                <span class="button"><a data-title="Availability" asp-area="Manage" asp-controller="Agenda" asp-action="Availability"></a></span>
            </div>
            <div class="nav-bottom">
                <span class="button"><a data-title="Uitloggen" asp-area="Public" asp-controller="Login" asp-action="Logout"></a></span>
                <label><i class="fa-solid fa-user"></i> onno@fysioapp.com</label>
            </div>
        </nav>
        hasNav = true;
    }
    @if ((ViewContext.RouteData.Values["area"] ?? "").Equals("Patient"))
    {
        <nav>
            <div class="nav-title">@ViewData["Title"] </div>
            <div class="nav-buttons">
                <span class="button"><a data-title="Dashboard" asp-area="Patient" asp-controller="Dashboard" asp-action="Index"></a></span>
                <span class="button"><a data-title="Mijn behandelingen" asp-area="Patient" asp-controller="Treatment" asp-action="Index"></a></span>
                <span class="button"><a data-title="Afspraak inplannen" asp-area="Patient" asp-controller="Agenda" asp-action="Add"></a></span>
                <span class="button"><a data-title="Agenda" asp-area="Patient" asp-controller="Agenda" asp-action="Index"></a></span>
            </div>
            <div class="nav-bottom">
                <span class="button"><a data-title="Uitloggen" asp-area="Public" asp-controller="Login" asp-action="Logout"></a></span>
                <label><i class="fa-solid fa-user"></i> onno@fysioapp.com</label>
            </div>
        </nav>
        hasNav = true;
    }
    <content class="@if (!hasNav){ @Html.Raw("no-nav"); }">
        @RenderBody()
    </content>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/c9a94ca234.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


